@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Shared;
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums

@inherits AppointmentDateTimeSelectionViewModel

<div class="dateTimeSelectionView">
    <InlineDatePicker OnSelectedDate="@OnSelectedDate" />
    <div style="padding: 10px">
        <h3 style="text-align: center">Available times</h3>
        <div class="availableAppointmentTimes">
                @if (AvailableTimes.Count > 0)
                {
                    @foreach (DateTime time in AvailableTimes)
                    {
                    <div class="timeSlot" onclick="@( () => OnSelectedTime(time))">
                        &nbsp;@time.ToString("HH:mm")
                    </div>
                    }
                }
        </div>
    </div>
</div>
