@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Client.Shared;
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums

@inherits AppointmentDateTimeSelectionViewModel

<div class="dateTimeSelectionView">
    <InlineDatePicker OnSelectedDate="@OnSelectedDate" />
    <div>
        <div style="padding: 10px">
            @if (AvailableTimes.Count > 0)
            {
                <h3>Available appointments</h3>
                @foreach (DateTime time in AvailableTimes)
                {
                    <div class="timeSlot" onclick="@( () =>  OnSelectedTime(time))">
                        <span class="input-group-text">
                            <i class="oi oi-clock" />
                            &nbsp;@time.ToString("HH:mm")
                        </span>
                    </div>
                }
            }
        </div>
    </div>
</div>
