@using BlazorAgenda.Client.Viewmodels
@using BlazorAgenda.Shared.Models
@using BlazorAgenda.Shared.Enums
@page "/"
@inherits MainViewmodel


@if (StateService.LoginUser == default(User) || StateService.LoginUser == null)
{
    <LoginView OnLogin=OnLoginCompleted />
}
else
{
    <NavigationBarView />
    <div id="main">
        @if (StateService.CurrentPage == Pages.Agenda)
        {
            <CalendarView />
        }
        else if (StateService.CurrentPage == Pages.Users)
        {
            <UsersView />
        }
        else if (StateService.CurrentPage == Pages.Options)
        {
            <OptionsView />
        }
        else if (StateService.CurrentPage == Pages.Workhours)
        {
            <CalendarWorkhoursView />
        }
        else if (StateService.CurrentPage == Pages.Jobs)
        {
            <JobsView />
        }
    </div>
}
@if (StateService.CurrentModalType == ModalTypes.Option)
{
    <OptionView />
}
@if (StateService.CurrentModalType == ModalTypes.User)
{
    <UserView />
}
@if (StateService.CurrentModalType == ModalTypes.Workhours)
{
    <WorkhoursView />
}
@if (StateService.CurrentModalType == ModalTypes.Job)
{
    <JobView />
}

@*<InlineDatePicker/>*@
