@using BlazorAgenda.Client.Viewmodels;
@using BlazorAgenda.Shared.Enums;
@inherits NavigationBarViewModel

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Blazor agenda</a>
    <span class="navbar-text mr-auto">
        Hello @StateService.LoginUser.Firstname
    </span>
    <ul class="navbar-nav">
        <li class="nav-item" onclick=@EditUser>
            <a class="nav-link"><span class="oi oi-pencil"></span> Edit profile </a>
        </li>
        @if (StateService.LoginUser.IsAdmin)
        {
            if (StateService.CurrentPage != Pages.Users)
            {
                <li class="nav-item" onclick=@ViewUsers>
                    <a class="nav-link"><span class="oi oi-person"></span> View users </a>
                </li>
            }
            if (StateService.CurrentPage != Pages.Agenda)
            {
                <li class="nav-item" onclick=@ViewAgenda>
                    <a class="nav-link">
                        <span class="oi oi-calendar"></span> View agenda
                    </a>
                </li>
            }
            if (StateService.CurrentPage != Pages.Options)
            {
                <li class="nav-item" onclick=@ViewOptions>
                    <a class="nav-link">
                        <span class="oi oi-fork"></span> View appointment options
                    </a>
                </li>
            }
            if (StateService.CurrentPage != Pages.Workhours)
            {
                <li class="nav-item" onclick=@ViewWorkhours>
                    <a class="nav-link">
                        <span class="oi oi-spreadsheet"></span> View workhours
                    </a>
                </li>
            }
            if (StateService.CurrentPage != Pages.Jobs)
            {
                <li class="nav-item" onclick=@ViewJobs>
                    <a class="nav-link">
                        <span class="oi oi-brush"></span> View jobs
                    </a>
                </li>
            }
        }
        <li class="nav-item" onclick=@Logout>
            <a class="nav-link">
                <span class="oi oi-account-logout"></span> Logout
            </a>
        </li>
    </ul>
</nav>
